<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ekhaya Smart Scholars | Home</title>
    <!-- Link to Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Link to Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-white">

    <!-- Navigation -->
    <nav style="background:#000026;" class="text-white shadow-lg z-50 sticky top-0">
         <div class="flex items-center justify-between px-4 py-3">
    <!-- Logo -->
                <a href="/home" class="flex items-center">
                    <img src="/images/logo2.png" alt="Ekhaya Smart Scholars Logo" class="h-15 w-40 md:h-15">
                </a>
            <!-- Mobile Menu Toggle Button -->
            <div class="md:hidden">
                <button 
                type="button" 
                onclick="window.location.href='/'"
                class="text-white border border-white hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-white/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center transition-colors duration-200 dark:focus:ring-white/50 me-2 mb-2"
              >
                <i class="fas fa-sign-out-alt text-base align-middle me-2"></i>
                Sign out
              </button>

            </div>
            <ul class="hidden md:flex items-center space-x-4">
                <li><a href="#" class="text-white hover:text-goldenrod font-semibold">Hello <%= applicant.name %></a></li>
                <button 
                type="button" 
                onclick="window.location.href='/'"
                class="text-white border border-white hover:bg-white hover:text-black focus:ring-4 focus:outline-none focus:ring-white/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center transition-colors duration-200 dark:focus:ring-white/50 me-2 mb-2"
                >
                <i class="fas fa-sign-out-alt text-base align-middle me-2"></i>
                Sign out
                </button>
            </ul>
        </div>
        <!-- Mobile Menu -->
        <ul style="background:#000026;" class="mobile-menu md:hidden hidden text-white px-4 py-2">
            <li><a href="#" class="text-white hover:text-goldenrod font-semibold">Hello <%= applicant.name %></a></li>
            <li><a href="/" class="bg-white px-3 py-2 rounded-md font-semibold hover:text-black">Sign out</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main class="p-8 md:mb-24 md:mt-16">
        <% if (applicant && applicant.name && applicant.studentNumber) { %>
            <h1 class="text-3xl font-bold mb-4">Welcome, <%= applicant.title %> <%=applicant. surname %> <%= applicant.name %>!</h1>
            <br><br>
            <p>Your student number is <%= applicant.studentNumber %> & Your ID number is <%= applicant.idNumber %>.</p>
            <br>
            <p><span class="font-medium">Status:</span>
                <% if (applicant.status === 'Accepted') { %>
                    <span class="text-green-600 font-semibold">Accepted</span>
                <% } else if (applicant.status === 'Rejected') { %>
                    <span class="text-red-600 font-semibold">Rejected</span>
                <% } else { %>
                    <span class="text-yellow-500 font-semibold">Pending Review</span>
                <% } %>
              </p>
        <% } else { %>
            <h1 class="text-3xl font-bold mb-4">Welcome!</h1>
        <% } %>
    </main>

    <!-- Footer -->
    <footer style="background: #000026;" class=" text-white py-8">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <div>
                    <h3 class="text-xl font-semibold mb-4">About Ekhaya Smart Scholars</h3>
                    <p class="text-gray-400 text-sm">We are dedicated to empowering students and support them in every step of their academic journey. Each Letter in the word EKHAYA represents a core value that we uphold in our mission to helping students succeed.</p>
                    <div class="mt-4">
                    <a href="#" class="text-blue-600 hover:text-white mr-4"><i class="fab fa-facebook-f md:text-1xl"></i></a>
                    <a href="#" class="text-blue-400 hover:text-white mr-4"><i class="fab fa-linkedin md:text-1xl"></i></a>
                    <a href="#" class="hover:text-white mr-4"><i class="fab fa-git md:text-1xl"></i></a>
                    <a href="#" class="text-red-600 hover:text-white mr-4"><i class="fab fa-youtube md:text-1xl"></i></a>
                    </div>
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-4">Contact Us</h3>
                    <p class="text-gray-400 text-sm">Have questions or need support? Reach out to our team:</p>
                    <ul class="mt-4">
                    <li><i class="fas fa-envelope mr-2 text-sm"></i>ekhayasmartscholars@gmail.com</li>
                    <li><i class="fas fa-phone mr-2 text-sm"></i> +27   (72) 343-8377</li></ul>
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-4">Subscribe</h3>
                    <p class="text-gray-400 mb-4 text-sm">Subscribe to our newsletter for updates on new courses and promotions.</p>
                    <form id="subscribeForm">
                      <input type="email" name="email" id="email" placeholder="Enter Your email"
                          class="w-full px-4 py-2 border border-gray-300 rounded-md mb-4 focus:outline-none focus:border-black text-black" required />
                      <button type="submit"
                          class="btnSubmit bg-white text-black font-semibold rounded-md px-4 py-2 hover:bg-gray-800 focus:outline-none focus:bg-gray-800 transition duration-300 ease-in-out">Subscribe</button>
                  </form>
                </div>
                <div>
                    <h3 class="text-xl font-semibold mb-4">Developers</h3>
                      <img src="/images/esgela.jpg" alt="Esgela Logo" class="w-16 h-auto p-2">
              
                    <p class="text-gray-300 text-sm mb-2 mt-2">Proudly Designed by <a href="https://esgela.onrender.com" class="underline hover:text-white">Esgela.com</a> – a learning platform by Onwabe Zibeke.</p>
                    <p class="text-gray-300 text-sm">Esgela empowers youth through technology education in Eastern Cape.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript for mobile menu toggle -->
    <script>
        document.querySelector('.menu-icon').addEventListener('click', () => {
            document.querySelector('.mobile-menu').classList.toggle('hidden');
        });
              //sending the email of a subscriber
    const form = document.getElementById('subscribeForm');

form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const email = document.getElementById('email').value;

    try {
        const res = await fetch('/subscribe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        });

        const data = await res.json();

        alert(data.message); // Shows success or error message
    } catch (err) {
        alert('Something went wrong. Please try again later.');
        console.error(err);
    }
});
    </script>

</body>
</html>